<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录测试</title>
</head>
<body>
仅供测试使用<br>
<form action="login" method="post">
    <input name="username" type="text"><br>
    <input name="password" type="password"><br>
    <input value="submit" type="submit">
</form>
</body>
</html>